/** Course formats **/
.course-content .section li.activity {margin:7px 0;}
.course-content .header {background-image:url([[pix:theme|gradient_h]]);background-repeat:repeat-x;border-top:1px solid #C6BDA8;background-color:#E3DFD4;}
.course-content h2.header {padding-left:1em;}
.course-content ul.weeks li.section {border:1px solid #DDD;}
.course-content ul.weeks li.section .content {background-color:#FAFAFA;padding:5px 10px;}
.course-content ul.weeks li.section .content h3 {margin:0;color:#777;font-weight:normal;}
.course-content ul.weeks li.section .left {padding:5px 0;}
.course-content ul.weeks li.section .right {padding:5px 0;}

/** Course **/
/******************************************************/
/*Begin                                               */
/******************************************************/
.coursehidden {display: none;}
/******************************************************/
/*End                                                 */
/******************************************************/
.coursebox {border:1px solid #DDD;border-color:#DDDDDD; border-radius:5px 5px 0 0;}
.coursebox .info {/*margin:5px;*/font-size:100%;}
.coursebox .info .name {margin:3px 0;}
.coursebox .info .teachers {margin:0 1em;font-size:90%;}
.coursebox .cost {font-size:90%;padding-top:20px;}
.coursebox .summary {margin:5px;font-size:90%;   float: left;
    padding: 3px;
    text-align: left;
    width: 98%;}

#page-course-recent h2.main {font-size:110%;}
#page-course-recent .user {font-size:75%;}
#page-course-recent .grade {font-style:italic;font-size:90%;}
#page-course-recent .forum-recent .reply .title {font-style:italic;font-size:90%;}
#page-course-recent .forum-recent .discussion .title {font-weight:bold;font-style:italic;font-size:90%;}

.path-course-view .availabilityinfo {font-size:85%;color:#aaa;}
.path-course-view .availabilityinfo strong {font-weight:normal;color:black;}
.path-course-view .dimmed_text img {opacity:0.3;filter:alpha(opacity='30');}
.path-course-view .section {line-height:1.2em;}
.path-course-view .section .activity {padding:0.2em 0;}
.path-course-view .section .activity a {line-height:1em;}
.path-course-view .section .weekdates {margin:0;font-weight:normal;font-size:100%;}
.path-course-view .section .groupinglabel {color:#666666;}
.path-course-view .section .left {font-weight:bold;}

.path-course-view .weeks .section,
.path-course-view .topics .section,
.path-course-view .section td {border-color:#DDDDDD;}
.path-course-view .weeks .content ,
.path-course-view .topics .content,
.path-course-view .weeks .section,
.path-course-view .topics .section {background:transparent;}
.path-course-view .section td.side {background:#FFFFFF;}
.path-course-view .weeks .current,
.path-course-view .topics .current,
.path-course-view .current td.side {background:#FFD991;}
.path-course-view .weeks .hidden,
.path-course-view .topics .hidden,
.path-course-view .hidden td.side {background:#DDDDDD;}
.path-course-view .section .weekdates {color:#777777;}
.path-course-view .weeks .weekdates ,
.path-course-view .topics .weekdates {color:#333333;}

.weeks li.section ,
.topics li.section {border-style:solid;border-width:1px;}

.weeks .content,
.topics .content {padding:5px;}

.categoryboxcontent {border-color:#DDDDDD;}

#page-report-outline-user .section {border-color:#AAAAAA;}

#page-admin-report .plugin,
#page-report .plugin,
#page-course-import .plugin {margin-bottom:20px;margin-left:10%;margin-right:10%;border:1px solid #cecece;background-color:[[setting:blockcontentbgc]];}

.path-course-view .unread {background:#E3DFD4;}
.path-course-view .completionprogress {font-size:80%; padding:8px 26px 5px 5px;}

#page-course-category .courseboxes,
#page-course-index .courseboxes {padding:20px;}

#page-report #content {padding-top:15px;padding-bottom:15px;}

#page-report #region-main p,
#page-report-log-index #region-main .info,
#page-report-loglive-index #region-main .info,
#page-report-stats-index #region-main .graph {text-align:center;}

#page-report .logselectform,
#page-report .participationselectform,
#page-report-log-index .logselectform,
#page-report-participation-index .participationselectform {text-align:center;}

.addcoursebutton {text-align:center;}
.categorypicker {text-align:center;margin-bottom:10px;}
.path-report-outline .loginfo {text-align:center;margin:1em;}
.categorylist {width:90%;margin:0 auto;text-align:left;}
.categorylist .category .info,
.categorylist .category .indentation,
.categorylist .category .name,
.categorylist .category .image,
.categorylist .course .name,
.categorylist .course .info {margin: 0.1em;}

/* Course and category combo list on front page */
.course_category_tree .controls {margin-bottom:5px;text-align:right;float:right;}
.course_category_tree .controls div {padding-right:2em;font-size:75%;}
.course_category_tree .category {background-color:#FFF;background-image:url([[pix:theme|hgradient]]);background-repeat:repeat-x;border:1px solid #ddd;margin-bottom:10px;}
.course_category_tree .category .subcategories {background-color:inherit;padding-left:11px;border-width:1px 0 1px 1px;border-color:#FFF;border-style:solid;margin-top:8px;}
.course_category_tree .category.with_children .category_label {background-position:3px 3px;margin-left:6px;}
.course_category_tree .category_link .category_link {font-size:95%;}
.course_category_tree .category_label {padding-left:13px;}
.course_category_tree .category_link {display:block;margin:5px;font-size:120%;font-weight:bold;}
.course_category_tree .category .courses {background-color:inherit;}
.course_category_tree .category .courses .course_link {margin:5px;margin-right:100px;}
.course_category_tree .category .course {border:1px solid #f9f9f9;border-bottom-color:#eee;border-right-width:0;}
.course_category_tree .category .course:last-child {border-bottom-color:#f6f6f6;}
.course_category_tree .category .course.even {background-color:#f6f6f6;border-color:#eee;border-top-color:#f9f9f9;}
.course_category_tree .category .course_info {right:3px;top:3px;}
.course_category_tree .category .course:hover {background-color:#eee;}
.course_category_tree .category .category {margin:5px 0 5px 5px;border-right:0 transparent none;border-left:0 transparent none;border-bottom:1px transparent solid;}

/* Publication */
#page-course-publish-metadata .metadatatext {width:400px;}
#page-course-publish-metadata .hubscreenshot {display:inline;float:left;margin-right:10px;}
#page-course-publish-metadata .hubscreenshot img {vertical-align:bottom;}
#page-course-publish-metadata .hubdescription {}
#page-course-publish-metadata .hubinfo {display:block; margin-bottom:20px;}
#page-course-publish-metadata .hublink {}
#page-course-publish-backup .courseuploadtextinfo {text-align:center;}
#page-course-publish-backup .sharecoursecontinue  {text-align:center;}

