@0charset "utf-8";
/* CSS Document */
/* links*/
a:link, a:visited {
	color: #ff3333;
}
a:hover, a:active {
	color: #ff3333;
	text-decoration: underline;
}
a img {
	border: none
}
a:active {
	outline: none
}
/* layout*/

#main {
	padding-top:20px;
}
#main .signuppanel div {
	background-color: #FF0000;
}
#intro { background-color: #FFF; }
form {
	background-color: #FFF;
	opacity: 0.95;
}
#main div {
	background-color: #FFF;
	opacity: 0.95;
}
#page {
	background: url(../img/home-bg.png) no-repeat;
	width: 960px;
	height: 770px;
	position: relative;
	margin: auto;
}
#page-wrapper {
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
#page-content {
	clear: both;
	float: left;
	overflow: hidden;
	position: relative;
	width: 960px;
	min-width: 900px;
}
.headermain {
	float: left;
}

#page-content #region-post-box { 
	padding-top:0;
}
#page-header h1.inside {

	margin: 50px 0px 0px 120px;
}
.assessment { cursor:pointer; }
#page-header-wrapper {
	background: url(../img/afc-logo.png) no-repeat;
	height: 115px;
}
#page-header {
	float: none;
	padding: 10px 0 0;
	background: none; 
	border-bottom: 5px solid #ff3333;
	color: #666633;
}
#page-header h1 {
	font-size: 2.15em;
	color: #666633;
	margin: 50px 0px 0px 120px
}
#logininfo {
	float: left;
}
.headermenu .logininfo {
	width:200px;
}
.block {
	opacity: 0.9;
	border: 0px;
	padding:15px;
}
.block .header {
	background: none;
	border-top: 0px;
	padding: 0;
	clear: both;
}
.block .title h2 {
	color: #666633;
	font-weight: normal;
	font-size: 1.2em;
	margin: 0;
}
.block .content {
	clear: both;
}
h2.headingblock {
	background: none;
	border-width: 0 0 1px 0;
	padding: 20px 5px 2px;
	font-weight: normal;
	font-size: 1.2em;
	color: #666633;
}
#page-footer {
	/*position: absolute;
	top: 700pxa*/;
	left: 0px;
	background-color: #000;
	opacity: 0.75;
	clear: both;
	float: left;
	width: 960px;
	color: #fff;
	z-index:10;
}
#page-footer .homelink {
	margin: 1em 0;
	color:#ff333;
	border: 0px;
}
#page-footer .homelink a {
	padding-left: 1em;
	padding-right: 1em;
	color:#ff333;
	border: 0px;
}
#page-footer .homelink a:hover {
	padding-left: 1em;
	padding-right: 1em;
	border: 0px;
	color:#ff333;
	text-decoration: underline;
}
#page-footer .logininfo {

	width:960px;
	height:150px;
	z-index:15;
}
#welcome-txt {
	width: 960px;
	height: 150px;
	z-index:15;
}

#welcome-txt-left {
	position: relative;
	top: 20px;
	left: 20px;
	float: left;
	width: 360px;
	height: 150px;
	font-size: 2.0em;
	color: #fff;
	text-align: left;
}
#welcome-txt-mid {
	position: relative;
	top: 20px;
	left: 20px;
	float: left;
	width: 15px;
	height: 150px;
}
#welcome-txt-right {
	position: relative;
	top: 20px;
	left: 45px;
	float: left;
	width: 515px;
	height: 150px;
	font-size: 1.0em;
	color: #fff;
	text-align: left;
}
#page-content #region-main-box {
	float: left;
	left: 200px;
	position: relative;
	width: 190%
}
#page-content #region-main-box .region-content {
	padding:0;
}
#page-content-wrapper {
	min-height:565px;
	margin:0;
}
#welcome-txt-right a:link {
	color: #ff3333;
}
#welcome-txt-right a:visited {
	color: #fff;
}
#welcome-txt-right a:hover {
	color: #fff;
}
.wrapper {
	margin: 0px
}
.region-content {
	text-decoration: none;
	padding: 0px
}
.coursebox .info {
	float: left;
	text-align: left;
	width: 90%
}
.loginbox {
	margin: 15px;
	overflow: visible;
	width:100%;
	height: 545px;
	z-index:5;
		
}
.loginbox .loginform .form-input {
	float: right;
	width: 55%
}
.loginbox .loginform .form-input input {
	width: 10em
}
.loginbox .signupform {
	margin-top: 1em;
	text-align: center
}
.signupform form {
	background:none;
}
.loginbox.twocolumns {
	margin: 0px 0px 0px 0px
}

.loginbox.twocolumns .loginpanel {
	float: left;
	width: 49.8%;
	border-right: 0px;
	background-color: #fff;
	opacity: 0.9;
	line-height:1.8em;


}
.loginbox.twocolumns .signuppanel {
	float: right;
	width: 49%;
	background-color:red;
	border-left: 5px solid #fff;
	border-right: 5px solid #ff3333;
	opacity: 0.9;
	line-height:1.8em;

}
.loginbox .signuppanel .subcontent {
	color:#fff;
	text-align: left
}
.block { 
	background-color:#FFF;
	margin-top: 25px;
}
.signuppanel a:link {
	color: #fff;
	font-weight:bold;
}
.signuppanel a:visited {
	color: #000;
	font-weight:bold;
	text-decoration:underline;

}
.signuppanel a:hover {
	color: #fff;
	font-weight:bold;
	text-decoration:underline;
}
.signuppanel ol, ul, dl {
    margin-left: 2em;
	
}
.signuppanel h2{
	color: #fff;}

#loginbtn {	
	background:url(../img/submit-btn-bg.png)no-repeat;
	cursor:pointer;
	width:130px;
	height:42px;
 	border: none;
	color:#fff;
	font-size: 1.5em;
	text-align: center
	}
#guestlogin {	
	background:url(../img/guestlogin-btn-bg.png)no-repeat;
	cursor:pointer;
	width:150px;
	height:42px;
 	border: none;
	color:#fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	margin:0 auto;
	}
#signupbtn {	
	background:url(../img/signup-btn-bg.png)no-repeat;
	cursor:pointer;
	width:150px;
	height:42px;
 	border: none;
	color:#000;
	font-size: 1em;
	font-weight: bold;
	text-align: center
	}
